@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contact Button */
.all-btn {
    padding: 8px 24px;
    font-weight: 600;
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: orange;
    transition: 0.5s;
}

/* Button hover */
.all-btn:hover {
    background-color: rgba(255, 166, 0, 0.664);
}

body {
    background-color: White;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px;
    position: relative;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 62px;
    width: 62px;
}
.logo h3 {
    margin-left: 10px;
    font-family: "Quicksand", sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: black;
}

/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0 auto; /
}

.nav-links a {
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
}
/*Menu button not displayed*/
.mobile-contact-btn {
    display: none;
}

/* Navigation Bar Home About Style Color */

.nav-link.home { color: orange; }
.nav-link.about { color: skyblue; }
.nav-link.facilities { color: #05D4DF; }
.nav-link.admission { color: #5D58EF; }

.nav-links a:hover {
    color: #ffcc00;
}


/* Mobile hamburger Menu style */
#menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
}


/* hero peg style */

.hero-peg {
    display: flex;
    flex-direction: row;
    padding: 15px 100px;
    justify-content: space-between;
}

.hero-chil {
    margin-top: 7rem;
    font-size: 26px;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
}
/* hero span style */
.color-orange {
    color: orange;
}

.color-skybiue {
    color: skyblue;
}

.hero-chil P {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 16px 67px 17px 0px;
}
/* hero button style */
.btn-color {
    background-color: black;
}

.btn-color:hover{
    background-color: #333;
}


/* Responsive mobile style*/
@media screen and (max-width: 768px) {
    .navbar {
        padding: 12px 16px;
        border-bottom: 2px solid orange;
    }
    
    
    .logo h3 {
    display: none;
}
    
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333333f5;
        text-align: center;
        padding: 15px 0;
    }

    .nav-links li {
        display: block;
        padding: 10px 0;
    }

    /* To show the Contact button on mobile */
    .mobile-contact-btn {
        text-align: center;
        margin-top: 10px;
    }

    .mobile-contact-btn button {
        padding: 10px 24px;
        font-size: 18px;
        font-weight: bold;
        color: white;
        background-color: orange;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .mobile-contact-btn button:hover {
        background-color: #ff9900;
    }

    .hamburger {
        display: flex;
    }

    /* Clicking will open the menu and you will also see the Contact button. */
    #menu-toggle:checked ~ .nav-links {
        display: flex;
        margin-top: 22px;
    }

    #menu-toggle:checked ~ .mobile-contact-btn {
        display: block;
    }

    /* Desktop Contact button hidden on mobile */
    .desktop-contact {
        display: none;
    }

    /* hero peg style */

    /* The image will go up. */
    .hero-peg {
        padding: 12px 16px;
        flex-direction: column-reverse;
        text-align: center;
    }

    .hero-chil {
        margin: 32px 1px;
        font-size: 19px;
    }

    .hero-peg img {
        margin: auto;
        height: 414px;
        width: 381px;
    }

    .hero-chil p {
        padding: 12px 16px;
        margin: 20px auto;
        font-weight: bold;
        font-size: 15px;
    }

}
